@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />
       <h5>This website is for <strong>GOTech</strong> company.
        Our company builds websites for different companies, hotels, malls and many more.
        GOTech has a team of developers, salesmen, designers, and managers.
        They are working on a different project with different complications.
        </h5>
