@{
    ViewBag.Title = "Contact";
}
<section>
    <div class="container m-3">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-2">
                <div class="p-5">
                    <img class="img-rounded imgs" src="../Images/contact.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">@ViewBag.Title.</h2>
                    <h5>IT Head:  Jo Lim</h5>
                    <p>Email- Jolim@gotech.ca</p>
                    <h5>Sales Head: Dev Shah</h5>
                    <p>Email- Devshah@gotech.ca</p>
                    <h5>Manager: Saravanan Palani</h5>
                    <p>Email- Saravananpalani@gotech.ca</p>
                </div>
            </div>
        </div>
    </div>
</section>