@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br/>
<br/>
<h4>If you are interested in more details you can contact us :</h4>
<hr/>
<h5>IT Head:  Jo Lim</h5>
    <p>Email- Jolim@gotech.ca</p>
    <br />
    <h5>Sales Head: Dev Shah</h5>
    <p>Email- Devshah@gotech.ca</p>
    <br />
    <h5>Manager: Saravanan Palani</h5>
    <p>Email- Saravananpalani@gotech.ca</p>
    <hr/>
<p>You are welcome to mail us about your idea or discuss IT problem with GOTech team.</p>
