@{
    ViewBag.Title = "GO TECHNOLOGY";
}

<div class="jumbotron">
</div>
<br />
<section>
    <div class="container m-3">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-2">
                <div class="p-5">
                    <img class="img-rounded imgs" src="../Images/computer.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">For those about to rock...</h2>
                    <p class="message">
                        We understand that IT solutions are not “one size fits all”. The I.T. Company learns your business and applies solutions tailored
                        to your needs resulting in smooth and effortless business operations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr/>
<section>
    <div class="container m-3">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="p-5">
                    <h2 class="display-4">We salute you!</h2>
                    <p class="message">
                        By building quality and connections with our customers, our team promotes action,
                        open dialogue, and long term solutions.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-5">
                    <img class="img-rounded imgs" src="../Images/java.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="container m-3">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-2">
                <div class="p-5">
                    <img class="img-rounded imgs" src="../Images/coding.jpg" alt="coding">
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be rock!</h2>
                    <p class="message">
                        We bring our clients an innovative system that proactively optimizes your business, predict failure points and
                        repairs those potential issues before they become a problem.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr/>
<div class="container m-3">
<p class="message" style="text-align:center;">
    So, who are we? We are the answer to your questions and frustrations. The IT Company adapts as technology.
</p>
    </div>
<!-- Footer -->
