@{
    ViewBag.Title = "GO TECHNOLOGY";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <br/>
    <p class="lead">
        We understand that IT solutions are not “one size fits all”. The I.T. Company learns your business and applies solutions tailored
        to your needs resulting in smooth and effortless business operations. By building quality and connections with our customers, our team promotes action,
        open dialogue, and long term solutions. We bring our clients an innovative system that proactively optimizes your business, predict failure points and
        repairs those potential issues before they become a problem.</p>
    <p>
        So, who are we? We are the answer to your questions and frustrations. The IT Company adapts as technology.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>